package Juego;
import java.util.Random;

public class Jugador {

    private int ATK;
    private int DEF;

    public Jugador() {
    }

    public Jugador(int ATK, int DEF) {
        this.ATK = ATK;
        this.DEF = DEF;
    }

    public int getATK() {
        return ATK;
    }

    public void setATK(int ATK) {
        this.ATK = ATK;
    }

    public int getDEF() {
        return DEF;
    }

    public void setDEF(int DEF) {
        this.DEF = DEF;
    }
    public void barajearCartas (){
        
    int[] mazoGeneral = {0,1,2,3,4,5,6,7,8,9};  
    int[] mazo1 = {};
    int[] mazo2 = {};
    
    barajear(mazoGeneral);
    
        
    }
    public void barajear(int[] mazo){
 
        int mazoLeer [] = new int [10];
        
        Random random = new Random();
        
        for (int k = 0; k < mazoLeer.length ; k++){
            
            int indicesRandom = k + random.nextInt();
            
            int intercambiar = mazo[indicesRandom];
            mazo[indicesRandom] = mazo[k];
            mazo[k]=intercambiar;
            
            System.out.println("intercambiar = " + intercambiar);
        }
        
    }
    
    public void dado() {

        int dado1 = (int) (Math.random() * 6);
        int dado2 = (int) (Math.random() * 6);

        if (dado1 > dado2) {
            System.out.println("Turno jugador 1 \nsaco dado: "+dado1);
        } else {
            System.out.println("Turno jugador 2 \nsaco dado: "+dado2);
        }

    }

}

