public class Cartas {
    
    private int Def;
    private int Atk;
    private int Fuego;
    private int Viento;
    private int Rayo;
    private int Tierra;
    private int Agua;

    public Cartas() {
    }
    

    public Cartas(int Def, int Atk, int Fuego, int Viento, int Rayo, int Tierra, int Agua) {
        this.Def = Def;
        this.Atk = Atk;
        this.Fuego = Fuego;
        this.Viento = Viento;
        this.Rayo = Rayo;
        this.Tierra = Tierra;
        this.Agua = Agua;
    }

    public int getDef() {
        return Def;
    }

    public void setDef(int Def) {
        this.Def = Def;
    }

    public int getAtk() {
        return Atk;
    }

    public void setAtk(int Atk) {
        this.Atk = Atk;
    }

    public int getFuego() {
        return Fuego;
    }

    public void setFuego(int Fuego) {
        this.Fuego = Fuego;
    }

    public int getViento() {
        return Viento;
    }

    public void setViento(int Viento) {
        this.Viento = Viento;
    }

    public int getRayo() {
        return Rayo;
    }

    
    public void setRayo(int Rayo) {
        this.Rayo = Rayo;
    }

    public int getTierra() {
        return Tierra;
    }

    public void setTierra(int Tierra) {
        this.Tierra = Tierra;
    }

    public int getAgua() {
        return Agua;
    }

    public void setAgua(int Agua) {
        this.Agua = Agua;
    }

    @Override
    public String toString() {
     
        return "    Carta    \nDef: " + Def + "\nAtk: " + Atk + "\n    PODERES    " + "\nFuego: " + Fuego + "\nViento: " + Viento + "\nRayo: " + Rayo + "\nTierra: " + Tierra + "\nAgua: " + Agua + " ";
        
    }
    
    public void ataque(Cartas jugador2){
        
        if(this.Atk>jugador2.Atk){
            
            System.out.println("Ataca jugador 1");
            jugador2.Def = jugador2.Def - this.Atk;
            
            System.out.println("vida"+jugador2.Def);
        }
        
    }
    
    
}
