public class Cartas {
    
    private int Atk;
    private int Def;
    private int Fuego;
    private int Viento;
    private int Rayo;
    private int Tierra;
    private int Agua;

    public Cartas() {
    }

    public Cartas(int Atk, int Def, int Fuego, int Viento, int Rayo, int Tierra, int Agua) {
        this.Atk = Atk;
        this.Def = Def;
        this.Fuego = Fuego;
        this.Viento = Viento;
        this.Rayo = Rayo;
        this.Tierra = Tierra;
        this.Agua = Agua;
    }

    public int getAtk() {
        return Atk;
    }

    public void setAtk(int Atk) {
        this.Atk = Atk;
    }

    public int getDef() {
        return Def;
    }

    public void setDef(int Def) {
        this.Def = Def;
    }

    public int getFuego() {
        return Fuego;
    }

    public void setFuego(int Fuego) {
        this.Fuego = Fuego;
    }

    public int getViento() {
        return Viento;
    }

    public void setViento(int Viento) {
        this.Viento = Viento;
    }

    public int getRayo() {
        return Rayo;
    }

    public void setRayo(int Rayo) {
        this.Rayo = Rayo;
    }

    public int getTierra() {
        return Tierra;
    }

    public void setTierra(int Tierra) {
        this.Tierra = Tierra;
    }

    public int getAgua() {
        return Agua;
    }

    public void setAgua(int Agua) {
        this.Agua = Agua;
    }
    
////    /public void mostrarCartas(){
////       
////        System.out.println("    CARTA      ");
////        System.out.println("Def: "+this.Def);
////        System.out.println("Atk: "+this.Atk);
////        System.out.println("    PODERES     ");
////        System.out.println("Fuego: "+this.Fuego);
//        System.out.println("Viento: "+this.Viento);
//        System.out.println("Rayo: "+this.Rayo);
//        System.out.println("Tierra: "+this.Tierra);
//        System.out.println("Agua: "+this.Agua);
//         
//   }

    @Override
    public String toString() {
        return "Cartas{" + "Atk=" + Atk + ", Def=" + Def + ", Fuego=" + Fuego + ", Viento=" + Viento + ", Rayo=" + Rayo + ", Tierra=" + Tierra + ", Agua=" + Agua + '}';
    }
    
    
    
}
